# .env.example


# project working directory
root_dir=

# smtp_user
SMTP_USER=

# smtp_pass
SMTP_PASS=

# mail_from
MAIL_FROM=

# mail_to
MAIL_TO=

# mongo_uri
MONGO_URI=

# db_name
DB_NAME=

# collection
COLL_NAME=